# AdaptiveBPM .gitignore

# Ignore files specific to the .NET project (AdaptiveBpmML)
/AdaptiveBpmML/bin/
/AdaptiveBpmML/obj/
/AdaptiveBpmML/*.user
/AdaptiveBpmML/*.suo
/AdaptiveBpmML/.vs/   # Ignore .vs/ directory in .NET project

# Ignore files specific to the Unity project (AdaptiveBPMUnity)
/AdaptiveBPMUnity/Library/
/AdaptiveBPMUnity/Temp/
/AdaptiveBPMUnity/Obj/
/AdaptiveBPMUnity/Build/
/AdaptiveBPMUnity/Builds/
/AdaptiveBPMUnity/Logs/
/AdaptiveBPMUnity/UserSettings/
/AdaptiveBPMUnity/MemoryCaptures/
/AdaptiveBPMUnity/Recordings/
/AdaptiveBPMUnity/ExportedObj/
/AdaptiveBPMUnity/.consulo/
/AdaptiveBPMUnity/.vs/   # Ignore .vs/ directory in Unity project
#/AdaptiveBPMUnity/*.csproj
/AdaptiveBPMUnity/*.unityproj
#/AdaptiveBPMUnity/*.sln
/AdaptiveBPMUnity/*.suo
/AdaptiveBPMUnity/*.tmp
/AdaptiveBPMUnity/*.user
/AdaptiveBPMUnity/*.userprefs
/AdaptiveBPMUnity/*.pidb
/AdaptiveBPMUnity/*.booproj
/AdaptiveBPMUnity/*.svd
/AdaptiveBPMUnity/*.pdb
/AdaptiveBPMUnity/*.mdb
/AdaptiveBPMUnity/*.opendb
/AdaptiveBPMUnity/*.VC.db
/AdaptiveBPMUnity/*.pidb.meta
/AdaptiveBPMUnity/*.pdb.meta
/AdaptiveBPMUnity/*.mdb.meta
/AdaptiveBPMUnity/sysinfo.txt
/AdaptiveBPMUnity/*.apk
/AdaptiveBPMUnity/*.aab
/AdaptiveBPMUnity/*.unitypackage
/AdaptiveBPMUnity/*.app
/AdaptiveBPMUnity/crashlytics-build.properties
/AdaptiveBPMUnity/Assets/AddressableAssetsData/*/*.bin
/AdaptiveBPMUnity/Assets/StreamingAssets/aa.meta
/AdaptiveBPMUnity/Assets/StreamingAssets/aa/*
/AdaptiveBPMUnity/local.settings.json
/AdaptiveBPMUnity/.vsconfig
/AdaptiveBPMML/.vsconfig

# Ignore any Unity-generated project-specific files in the root directory
*.user

# Ignore the .vs/ directory in the root folder
.vs/

# Ignore the vsconfig.json file in the root folder
.vsconfig
